.header
  %nav.header-nav
    %ul.navClass
      %li.navbar
        ナビゲーションバー
      %li.navbar
        バー２
        = link_to "新規投稿", '/posts/new'
  .header-right
  = current_user.name
  の
  = link_to "マイページ", "/users/#{current_user.id}"