%header
  %h1
    %a{:href => "#"} HOME
  %nav
    %ul.header-links
      %li.header-link
        = link_to "新規投稿", '/posts/new'
      %li.header-link
        = link_to current_user.name, "/users/#{current_user.id}"
        さん
      %li.header-link
        %a{:href => "#"} Contents