$basic_font: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
.footer{
  height: 150px;
  width: 100vw;
  background-color: olivedrab;
  font-family: $basic_font;
}