header {
  //background-color: transparent;
  background-color: #05c46b;
  height: 90px;
  width: 100%;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  position: fixed;
  z-index: 2;
}

.title {
  font-size: 32px;
  float: left;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(58, 22, 141, 0.4);
  margin-top: 30px;
  margin-right: 50px;
}

.menus {
  display: flex;
  padding-top: 30px;
  .search-form {
    margin-top: 5px;
    display: flex;
    margin-right: auto !important;
    .input-group-append {
      margin-left: 5px;
      margin-bottom: 5px;;
    }
  }
  .header-links {
    list-style: none;
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    //align-items: center;
    font-size: 24px;
    .header-link {
      margin-left: 30px;
      text-align: center;
      //width: auto;
      &:hover{
        color: olivedrab;
      }
    }
  }
}
a {
  text-decoration: none;
}
.nav-link  {
  padding: 0px;
}

