$basic_font: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
* {
  box-sizing: border-box;
}



.main{
  //height: 900px;
  width: 100vw;
  background-color: #0be881;
  font-family: $basic_font;
  font-size: 20px;
  &__content{
    width: 100%;
    &__photos{
      height: 560px;
      background-image: image-url("DSC03920.jpg");
      background-color:rgba(255,255,255,0.1);
      background-blend-mode:lighten;
      background-size: cover;
      background-position: top center;
      //position: relative;
      padding: 0 70px;
      display: flex;
      &__text{
        color: white;
        font-weight: bold;
        margin: 100 0 60px;
        display: block;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        b1 {
          font-size: 60px;
          z-index: 1;
          position: absolute;
          top: 170px;
        }
        b2 {
          font-weight: bold;
          font-size: 60px;
          z-index: 1;
          position: absolute;
          top: 240px;
        }
        b3 {
          font-size: 23px;
          z-index: 1;
          position: absolute;
          top: 350px;
        }
        b4 {
          font-size: 23px;
          z-index: 1;
          position: absolute;
          top: 380px;
        }
      }
    }
  }
}
.contents.row{
  background-color: #4bcffa;
  height: 100%;
  margin: auto;
  &__new{
    font-size: 25px;
    border-bottom: solid 1px khaki;
    width: 90%;
    //height: 30px;
    margin-left: 60px;
    margin-top: 20px;
  }
  .content__post{
    //height: 250px;
    justify-content: start;
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    &__lists{
      margin-left: 30px;
      margin-bottom: 30px;
      display: inline-block;
      transition: 0.5s;
      box-shadow: 0px 0px 6px 3px #34c0d3;
      width: auto;
      height: auto;
      padding: 15px;
      border-radius: 10px;
      text-align: left;
      &:hover {
        box-shadow: 0px 0px 14px 9px #34c0d3;
      }
      &__name{
        color: #3c40c6;
      }
    }
  }
}

.pages{
  background-color: #34e7e4;
  text-align: center;
  //margin: 0;
}
