$basic_font: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
* {
  box-sizing: border-box;
}



.main{
  //height: 900px;
  width: 100vw;
  background-color: #0be881;
  font-family: $basic_font;
  font-size: 20px;
  &__content{
    width: 100%;
    &__photos{
      height: 560px;
      background-image: image-url("DSC03920.jpg");
      background-color:rgba(255,255,255,0.1);
      background-blend-mode:lighten;
      background-size: cover;
      background-position: top center;
      padding: 0 80px;
      //display: flex;
      &__text{
        color: white;
        font-weight: bold;
        display: block;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        b1 {
          font-size: 60px;
          z-index: 1;
          position: absolute;
          top: 170px;
        }
        b2 {
          font-weight: bold;
          font-size: 60px;
          z-index: 1;
          position: absolute;
          top: 240px;
        }
        b3 {
          font-size: 23px;
          z-index: 1;
          position: absolute;
          top: 350px;
        }
        b4 {
          font-size: 23px;
          z-index: 1;
          position: absolute;
          top: 380px;
        }
      }
    }
  }
}
.contents.row{
  background-color: #4bcffa;
  height: 100%;
  margin: auto;
  padding: 0 80px;
  &__new{
    font-size: 25px;
    border-bottom: solid 1px khaki;
    width: 90%;
    margin-top: 20px;
  }
  .content__post{
    justify-content: start;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    &__lists{
      margin-right: 30px;
      margin-bottom: 30px;
      display: inline-block;
      transition: 0.5s;
      box-shadow: 0px 0px 6px 3px #34c0d3;
      width: auto;
      height: auto;
      padding: 15px;
      border-radius: 10px;
      text-align: left;
      &:hover {
        box-shadow: 0px 0px 14px 9px #34c0d3;
      }
      &__name{
        color: #3c40c6;
      }
    }
  }
}

.topbody__exhibition {
  position: relative;
  bottom: 40px;
  right: 100px;
  position: fixed;
  color: white;
  width: 140px;
  height: 140px;
  background-color: forestgreen;
  border-radius: 7%;
  text-align: center;
  padding-top: 0px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 200;
  a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 15px;
  }
  i {
    font-size: 50px;
    color: white;
    margin-top: 5px;
  }
  &:hover {
    background-color: #34e7e4;
  }
}
.pages{
  background-color: #34e7e4;
  text-align: center;
  //margin: 0;
}
