// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$basic_font: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

.header{
  height: 200px;
  width: 100vw;
  background-color: blue;
  color: lightgreen;
  font-size: 28px;
  font-family: $basic_font;
}

.main{
  height: 600px;
  width: 100vw;
  background-color: yellow;
  font-family: $basic_font;
}

.footer{
  height: 200px;
  width: 100vw;
  background-color: pink;
  font-family: $basic_font;
}