
.simple-header {
  //background-color: transparent;
  background-color: orange;
  height: 90px;
  width: 100%;
  justify-content: space-between;
  padding: 0 80px;
  margin: 0px;
}

.top {
  font-size: 32px;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(58, 22, 141, 0.4);
  text-align: center;
  padding-top: 25px;
  //margin-top: 30px;
}